<%= link_to 'Отмена', cables_path, class: 'btn btn-outline-secondary btn-sm mb-3' %>

<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <%= render 'form', cable: @cable, disabled: false, interfaces: @interfaces %>
      </div>
    </div>
  </div>
</div>




