<%= link_to  new_box_path, class: "btn btn-outline-secondary btn-sm" do %>
  <i class="fas fa-plus"></i> Добавить
<% end %>

<div class="row mt-3">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <%= render 'index_table', boxes: @boxes %>
      </div>
    </div>
  </div>
</div>


