.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

[role="main"] {
  padding-top: 64px;
  background-color: #fafbfe;
  min-height: calc(100vh - 40px);
  position: relative;
}

.page-item {
  a {
    color: #333333;
  }
}

.thead {
  text-decoration: none;
  color: black;
}

.thead_sort {
  color: black;
  text-decoration: underline;
}

.import-success {
  color: green;
}

.import-failed {
  color: red;
}

.footer {
  //margin-top: 20px;
  background-color: #f5f5f5;
  min-height: 40px;
  font-size: 0.75rem;
  padding-right: 20px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.beta-testing-warning {
  position: absolute;
  top: 50px;
  left: 700px;
  font-size: 24px;
  color: red;
  border: 1px solid darkred;
  padding: 10px 20px;
}