.toast {
  position: absolute;
  top: 75px;
  right: 20px;
}

.toast-img {
  height: 1rem;
  width: 1rem;
  margin-right: 10px;
}

.notice {
  background-color: chartreuse;
}

.alert {
  background-color: #B00100;
}